body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("https://images.unsplash.com/photo-1487925876428-ebd8a23ee1d4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a4854952e1d18e80245ff80ed1889532&auto=format&fit=crop&w=1429&q=80");
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /*border:10px solid blue;
  height: auto; 
  width: auto; 
  max-width: 300px; 
  max-height: 300px;*/
  /* border-radius:10px; */ 
  position:absolute;
}

#Ninja {
  height: 200px;
  width: auto;

}

#Dove {
  height: 200px;
  width: auto;
}